// $show-image-auth: true;
// $home-image: url(/assets/images/background-img.jpg);
// $backgroudn-opacity: 0.5;
.new-background-color{
  --background: #073e89!important;
  --color: white;
  --font-size: 14px;
}
@mixin easeOut {
    transition: all 0.5s ease-out;
}
// .overlay {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 0;
//   background: rgba(68, 68, 68, $backgroudn-opacity);
// }
#tab2-img{
  background: #fff;
  border-radius: 50px 50px 0px 0px;
  top: -50px;
  position: relative;
  width: 100%;
}
.optn-btn {
  font-size: 26px;
}

.blues-nav {
    --background: rgb(68, 187, 236);
  }
.nav-content {
  color: #fff;
}
.new-background-color{
  --background: #073e89!important;
  --color: white;
  --font-size: 14px;
}

.back{
  background-color: #073e89!important;
  color: white;
  font-size: 14px;
}

// ion-toolbar {
//     --background: transparent;
//     margin-top: 10px;
//     height: 10vh;
// }
.headerImage{
    margin-top: 10px;
    height: 11vh;
    --background: initial;

}
ion-img {
    width: 60px;
    height: auto;
    text-align: center;
    margin: 0 auto;

}
h2 span {
    color: #073e89!important;
    font-size: large;
  }
  h2 small {
    // color: rgb(50, 97, 149);
    color: #073e89!important;
    // font-size: 70% !important;
  }
h2 {
    text-align: center;
}
.btn {
    background: transparent ;
}
ion-icon {
    font-size: 20px;
    color: #e77a11 !important;
  }
  .icon {
    font-size: 25px;
    color: #e77a11!important;
  }

  .color{
    margin-top: 3px;
    color: gray;
    font-size: 13px;
  }
  .new{
    font-size: 31px;
    color: #073e89!important;
  }
  .o_partner_dashboard_wizard {
    margin: 0;
    font-size: 12px;
  }
  ul.wizard {
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 20px;
    list-style: none outside none;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.065);
}
.mb32 {
  margin-bottom: 16px !important;
}
.mt32 {
  margin-top: 16px !important;
  margin-left: 11px;
}
.o_partner_dashboard_grade_active_ready {
  font-weight: 600;
  background-color: #073e89 !important;
  border-color: #073e89 !important;
  color: #fff;
}
.o_partner_dashboard_wizard li {
  flex: 1;
  padding: 0;
  background-color: inherit;
  text-align: center;
}
ul.wizard li:first-child {
  padding-left: 4px;
  border-radius: 4px 0 0 4px;
}
ul.wizard li .chevron:before {
  position: absolute;
  top: -20px;
  right: 1px;
  display: block;
  border: 20px solid transparent;
  border-right: 0;
  border-left: 10px solid #fbfbfb;
  content: "";
}


ul.wizard li {
  border: 1px solid #e9ecef;
  border-right-width: 0;
  position: relative;
  float: left;
  // padding: 0 10px 0 20px;
  margin: 0;
  line-height: 40px;
  background: #fbfbfb;
  padding: 0 0px 0 11px;

}
.o_partner_dashboard_wizard .o_partner_dashboard_grade_active_ready .chevron {
  border-left-color: #073e89;
}
.o_partner_dashboard_grade_active_ready .chevron:before {
  border-left-color: #073e89 !important;
}
ul.wizard li .chevron {
  position: absolute;
  top: 0;
  right: -10px;
  z-index: 1;
  display: block;
  border: 20px solid transparent;
  border-right: 0;
  border-left: 10px solid #e9ecef;
}

.pl-3{
  padding-left: 1rem !important;
}



  ion-row {
    // height: 100%;
    flex-wrap: wrap;
    margin-top: 30px;
  }

  ion-col {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    text-align: center;
    padding: 10px 5px;
  }
  .but-color{
    background-color: #073e89!important;
  }
  .icon {
    font-size: 20px;
    color: #e77a11;
}
ion-avatar {
  height: 20px !important;
  width: 25px !important;
}
ion-label > h3 {
  color: #080808;
}
ion-label > p {
  color: #383838;
  font-size: 12px;
}
ion-card {
  box-shadow: 0 10px 20px 0 rgba(0,0,0,.3);

}
.headicon{
  color: white !important;
}
.leave-content-div {
  background: #fff;
  border-radius: 50px 50px 0px 0px;
  top: -50px;
  position: relative;
  width: 100%;
}

.leave-empty-div {
  background: #073e89;
  height: 280px;
}

.user-icon {
  font-size: 85px;
  /* margin: 10px; */
  height: 100%;
  width: 100%;
  /* margin: auto;*/
}

.profile-pic {
  margin: 0 auto;
  display: block;
  height: 100%;
  border-radius: 50%;
  width: 100%;
}

.employee-div {
  text-align: center;
  border: solid 1px #dcdcdc;
  border-radius: 50%;
  background: #fff;
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

.employee-name {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-top: 8px;
}

.employee-design {
  font-size: 14px;
  text-align: center;
  color: white;
}

.custom-icon-edit-icon {
  font-size: 35px;
  color: white;
  font-weight: 500;
}

.edit-icon {
  background: #FE9C45;
  border-radius: 20px;
  position: absolute;
  height: 40px;
  width: 40px;
  margin-left: 100px;
}