

<ion-content>
  <ion-card>
    <ion-card-header class="cardHeader">
      <ion-card-title class="cardTitle">{{"tab1.Your Profile" | translate}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="cardContent">
      <p class="color">{{this.data.user.name}}</p>
      <br/>
      <span class="color">{{'tab1.FRA No' | translate}} : </span>
      <span style="color: black;">{{this.data.user.fra}}</span>
      <br/>
      <span class="color">{{'tab1.Expiration Date' | translate}} : </span>
      <span style="color: black;">{{this.data.user.exp_date}}</span>
      <br/>
      <span class="color">{{'tab1.Mobil' | translate}} : </span>
      <span style="color: black;">{{this.data.user.mobile}}</span>
      <br/>
      <span class="color">{{'tab1.Mail' | translate}} : </span>
      <span style="color: black;">{{this.data.user.mail}}</span>
      <br/>
    </ion-card-content>
    <!-- <ion-row class="cardFooter">
      <ion-col>
        <button class="btn">Light</button>
      </ion-col>
    </ion-row> -->
  </ion-card>
  <ion-card>
    <ion-card-header class="cardHeader">
      <ion-card-title class="cardTitle">{{"tab1.Your Portfolio" | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="cardContent">
      <p class="color">{{"tab1.Production per LOB in EGP" | translate}}</p>
      <br/>
      <canvas id="pieCanvas" ></canvas>
      
    </ion-card-content>
    <ion-row class="cardFooter">
      <ion-col>
        <button class="btn">{{'tab1.Your Policies' | translate}}</button>
      </ion-col>
    </ion-row>

  </ion-card>
  <ion-card>
    <!-- <ion-card-header class="cardHeader">
      <ion-card-title class="cardTitle">{{"tab1.Your Portfolio" | translate}}</ion-card-title>
    </ion-card-header> -->
    <ion-card-content class="cardContent">
      <p class="color">{{"tab1.Target Vs Production" | translate}}</p>
      <br/>
      <canvas id="mixed" ></canvas>
      
    </ion-card-content>
  </ion-card>
  <ion-card>
    <!-- <ion-card-header class="cardHeader">
      <ion-card-title class="cardTitle">{{"tab1.Your Portfolio" | translate}}</ion-card-title>
    </ion-card-header> -->
    <ion-card-content class="cardContent">
      <p class="color">{{"tab1.Current Year Vs Last Year" | translate}}</p>
      <br/>
      <canvas id="currentVsLast" ></canvas>
      
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header class="cardHeader">
      <ion-card-title class="cardTitle">{{"tab1.Follow up list" | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="cardContent">
      <p class="color">{{"tab1.Renewals" | translate}}</p>
      <br/>
      <ion-row>
        <ion-col class="th">{{"tab1.Color" | translate}}</ion-col>
        <ion-col class="th">{{"tab1.Count" | translate}}</ion-col>
        <ion-col class="th">{{"tab1.Total" | translate}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="th">
          <img class="colors-img" src="../../assets/img/red.png"/>
        </ion-col>
        <ion-col class="th">{{this.data.renews.Red.count}}</ion-col>
        <ion-col class="th">{{this.data.renews.Red.total.toFixed(2)}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="th">
          <img class="colors-img" src="../../assets/img/orange.png"/>
        </ion-col>
        <ion-col class="th">{{this.data.renews.Orange.count}}</ion-col>
        <ion-col class="th">{{this.data.renews.Orange.total.toFixed(2)}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="th">
          <img class="colors-img" src="../../assets/img/green.png"/>
        </ion-col>
        <ion-col class="th">{{this.data.renews.Green.count}}</ion-col>
        <ion-col class="th">{{this.data.renews.Green.total.toFixed(2)}}</ion-col>
      </ion-row>
    </ion-card-content>
    <ion-row class="cardFooter">
      <ion-col>
        <button class="btn">{{'tab1.Your Renewals' | translate}}</button>
      </ion-col>
    </ion-row>

  </ion-card>
  <ion-card>
    <ion-card-content class="cardContent">
      <p class="color">{{"tab1.Permium under collection" | translate}}</p>
      <br/>
      <ion-row>
        <ion-col class="th">{{"tab1.Color" | translate}}</ion-col>
        <ion-col class="th">{{"tab1.Count" | translate}}</ion-col>
        <ion-col class="th">{{"tab1.Total" | translate}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="th">
          <img class="colors-img" src="../../assets/img/red.png"/>
        </ion-col>
        <ion-col class="th">{{this.data.collections.Red.count}}</ion-col>
        <ion-col class="th">{{this.data.collections.Red.total.toFixed(2)}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="th">
          <img class="colors-img" src="../../assets/img/orange.png"/>
        </ion-col>
        <ion-col class="th">{{this.data.collections.Orange.count}}</ion-col>
        <ion-col class="th">{{this.data.collections.Orange.total.toFixed(2)}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="th">
          <img class="colors-img" src="../../assets/img/green.png"/>
        </ion-col>
        <ion-col class="th">{{this.data.collections.Green.count}}</ion-col>
        <ion-col class="th">{{this.data.collections.Green.total.toFixed(2)}}</ion-col>
      </ion-row>
      
    </ion-card-content>
    <ion-row class="cardFooter">
      <ion-col>
        <button class="btn">{{'tab1.Your Collections' | translate}}</button>
      </ion-col>
    </ion-row>

  </ion-card>
  <ion-card>
    <ion-card-content class="cardContent">
      <p class="color">{{"tab1.Complaints" | translate}}</p>
      <br/>
      <ion-row>
        <ion-col class="th">{{"tab1.Color" | translate}}</ion-col>
        <ion-col class="th">{{"tab1.Stage" | translate}}</ion-col>
        <ion-col class="th">{{"tab1.Count" | translate}}</ion-col>
      </ion-row>
      <ion-row *ngFor="let item of this.data.complaint_count" >
        <ion-col class="th" *ngIf="item.stage != 'Canceled'" >
          <img *ngIf="item.stage == 'New'"  class="colors-img" src="../../assets/img/red.png"/>
          <img class="colors-img" *ngIf="item.stage == 'InProgressx'" src="../../assets/img/orange.png"/>
          <img class="colors-img" *ngIf="item.stage == 'Solved'" src="../../assets/img/green.png"/>
        </ion-col>
        <ion-col *ngIf="item.stage != 'Canceled'" class="th">{{item.stage}}</ion-col>
        <ion-col *ngIf="item.stage != 'Canceled'" class="th">{{item.count}}</ion-col>
      </ion-row>
      
    </ion-card-content>
    <ion-row class="cardFooter">
      <ion-col>
        <button class="btn">{{'tab1.Your Complaints' | translate}}</button>
      </ion-col>
    </ion-row>

  </ion-card>
  <ion-card>
    <ion-card-header class="cardHeader">
      <ion-card-title class="cardTitle">{{"tab1.Your Portfolio" | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="cardContent">
      <p class="color">{{"tab1.Policies count per LOB" | translate}}</p>
      <br/>
      <ion-row>
        <ion-col class="th">{{"tab1.LOB" | translate}}</ion-col>
        <ion-col class="th">{{"tab1.Count" | translate}}</ion-col>
        <ion-col class="th">{{"tab1.Total" | translate}}</ion-col>
      </ion-row>
      <ion-row *ngFor="let item of this.data.policy_lob" >
        <ion-col class="th">
          <img src="data:image/png;base64,{{ item.icon  }}"/>
        </ion-col>
        <ion-col class="th">{{item.count}}</ion-col>
        <ion-col class="th">{{item.amount.toFixed(2)}}</ion-col>
      </ion-row>
      
    </ion-card-content>
    <ion-row class="cardFooter">
      <ion-col>
        <button class="btn">{{'tab1.Your Policies' | translate}}</button>
      </ion-col>
    </ion-row>

  </ion-card>
  <ion-card>
    <ion-card-content class="cardContent">
      <p class="color">{{"tab1.Claims count per LOB" | translate}}</p>
      <br/>
      <ion-row>
        <ion-col class="th">{{"tab1.LOB" | translate}}</ion-col>
        <ion-col class="th">{{"tab1.Count" | translate}}</ion-col>
        <ion-col class="th">{{"tab1.Total" | translate}}</ion-col>
      </ion-row>
      <ion-row *ngFor="let item of this.data.claim_lob" >
        <ion-col class="th">
          <img src="data:image/png;base64,{{ item.icon  }}"/>
        </ion-col>
        <ion-col class="th">{{item.count}}</ion-col>
        <ion-col class="th">{{item.amount.toFixed(2)}}</ion-col>
      </ion-row>
      
    </ion-card-content>
    <ion-row class="cardFooter">
      <ion-col>
        <button class="btn">{{'tab1.Your Claims' | translate}}</button>
      </ion-col>
    </ion-row>

  </ion-card>
  
  
</ion-content>
