<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="main/tabs"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="createApp()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{"home.Insurance Application" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <!-- <ion-toolbar> -->
    <ion-searchbar [(ngModel)]="searchTerm"
    (ionChange)="setFilteredItems()"></ion-searchbar>
  <!-- </ion-toolbar> -->
  <ion-item *ngFor="let item of filterdData" >
    <ion-avatar slot="start">
      <img *ngIf="!item.image" src="../../assets/img/empty.png">
      <img *ngIf="item.image"  src="data:image/png;base64,{{  item.image }}">
    </ion-avatar>
    <ion-label>
      <h2>{{item.state}}</h2>
      <!-- <h3>I'm a big deal</h3> -->
      <p>{{item.application_number}}</p>
    </ion-label>
  </ion-item>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-icon name="add"></ion-icon>
  </ion-toolbar>
</ion-footer>

