@font-face {
    font-family: 'poppins';
    src: url('../assets/fonts/Poppins-Light.ttf');//mine
    // src: url('path/to/your/font/file');//path to your font file
  }
  
  * {
    font-family: 'poopins' !important;
  }

  .ion-color-tertiary {
    --ion-color-base : red !important;
  }

